<!DOCTYPE html>
<html>
  <head>
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/admin-lte@4.0.0-beta2/dist/css/adminlte.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet">
    <%= tinymce_assets data: { turbo_track: "reload" } %>
    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <meta name="turbo-cache-control" content="no-cache">
    <meta name="turbo-visit-control" content="reload">
  </head>

  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary sidebar-open app-loaded">
    <div class="app-wrapper">
      <!-- メインヘッダー -->
      <nav class="app-header navbar navbar-expand bg-body">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "#", class: "nav-link", data: { lte_toggle: "sidebar" } do %>
                <i class="fa-solid fa-bars"></i>
              <% end %>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown user-item">
              <%= link_to current_user.email, "#", class: "nav-link dropdown-toggle", data: { bs_toggle: "dropdown" } %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!-- サイドバー -->
      <aside class="app-sidebar bg-dark" data-bs-theme="dark">
        <!-- ブランドリンク -->
        <div class="sidebar-brand">
          <%= link_to admin_dashboard_path, class: "brand-link" do %>
            <span class="brand-text font-weight-light">8kjapon.com Admin</span>
          <% end %>
        </div>
        <!-- サイドバーコンテンツ -->
        <div class="sidebar-wrapper">
          <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
              <li class="nav-item">
                <%= link_to admin_articles_path, class: "nav-link" do %>
                  <i class="nav-icon fas fa-list"></i>
                  <p>記事一覧</p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_admin_article_path, class: "nav-link" do %>
                  <i class="nav-icon fas fa-pencil-alt"></i>
                  <p>記事投稿</p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_static_pages_path, class: "nav-link" do %>
                  <i class="nav-icon fa-regular fa-rectangle-list"></i>
                  <p>固定ページ一覧</p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_admin_static_page_path, class: "nav-link" do %>
                  <i class="nav-icon fa-solid fa-pen-to-square"></i>
                  <p>固定ページ作成</p>
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </aside>

      <!-- コンテンツ -->
      <main class="app-main">
        <%= yield %>
      </main>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/admin-lte@4.0.0-beta2/dist/js/adminlte.min.js" crossorigin="anonymous"></script>
      <script>
        tinymce.init({
          selector: '.tinymce',
          toolbar: [
            'blocks | bold italic strikethrough underline blockquote | bullist numlist | alignleft aligncenter alignright alignjustify | link unlink',
            'outdent indent | charmap forecolor | table | image media | code codesample',
            'undo redo | preview visualblocks'
          ],
          plugins: ['link', 'image', 'lists', 'media', 'code', 'autosave', 'advlist', 'preview', 'autolink', 'charmap', 'table', 'visualblocks', 'wordcount', 'codesample'],
          language: 'ja',
          license_key: 'gpl',
          content_css: '<%= asset_path("tinymce_preview.css") %>',
          images_upload_url: '/admin/uploader',
          relative_urls: false,
          remove_script_host: false
        });
      </script>
    </div>
  </body>
</html>
